<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<springProperty scope="context" name="springAppName" source="spring.application.name"/>

	<!-- console appender -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<Pattern>%-5level [${springAppName}] %date{ISO8601} [%t] %logger::%method \(%file:%line\) %msg%n</Pattern>
		</encoder>
	</appender>

  <!-- logging on class level -->
  <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="DEBUG">
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="org.netlykos" level="ALL">
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="org.springframework.boot" level="INFO">
    <appender-ref ref="STDOUT" />
  </logger>

</configuration>
